
/* 작업용. 여백이랑 테두리 주면 박스 만들 때 구역 보기 쉬움.*/
*{
    border: solid 1px darkgreen;
    margin: 10px;
}

.s1{
    /* 표기 방법 */
    display: inline;
    /* span 주로 사용. */
    width: 100px; height: 100px; 
    /* inline은 사이즈 적용 불가능. 바깥/안쪽 여백의 왼쪽/오른쪽만 가능. */
    margin: 20px; padding: 20px;
}

.s2{
    display: block;
    /* span을 div처럼 사용하고 싶을 때 block을 넣으면 됨. */
    /* div, h, p 주로 사용. h랑 p는 기본값(굵기 등) 있어서 잘 안 씀. */
    /* block은 사이즈 적용이 위아래 다 가능. */
    width: 100px; height: 100px;
    margin: 20px; padding: 20px;
}

.s3{
    display: inline-block;
    /* 같은 줄에 넣으면서 크기 조절이 필요할 때. (img 넣을 때) */
    width: 20px; height: 20px; /*사이즈 조절 가능.*/
    margin: 20px; padding: 20px; /* 여백 조절 가능 */
}

.s4{
    /* 화면에서 없애버리겠다. */
    display: none; 
}