/* 범위 주석 처리: 범위 지정(마우스로) 후 ctrl+/ */

h5{ color: orange;}

/* 1. 전체 선택자 */
*{ font-size: 20px;} /* 글꼴 크기. px(단위). 다같이 20px로 변함. */
    /* 배경, 폰트 모두 바꿀 때 */

/* 2. 마크업 선택자 */
h6{ font-size: 15px ;} /* h6 <- 얘만 선택 */

/* 3. 클래스 선택자 */
.시인{ font-size: 10px;} /* 동일한 마크업들 간의 식별자. 점 안 찍으면 적용 안 됨. */

/* 4. 아이디 선택자 */ 
#홍길동전{ font-size: 5px;} /*동일한 마크업들 간의 유일(고유) 식별자. 그것만의 유일한 것을 넣을 때. 주민등록번호 같은 것. */

/* 5. 다중 선택자: , 쉼표로 구분*/
h3, h4{ font-family: 궁서;} /* ,: 다중 선택. 글씨체 꾸미기. */

/* 6. 자식 선택자: 상위선택자(부모) > 하위선택자(직계 자식) */
div > h3{ font-family: 맑은고딕 ;} 
    /* 부모자식 선택해도 되고, class로 꾸며도 된다. 클래스 중복이 너무 많아질 때 사용.*/

/* 7. 자손 선택자: 상위선택자 (띄어쓰기) 하위모든선택자 */
div h4{font-family: 굴림;} /* div의 자식은 ol, 자식은 h4. div 안의 모든 h4를 선택.*/