.parent{
    background-color: red;
    width: 1000px; height: 600px;
    margin: 0 auto;
    position: relative; /* 하위 요소의 absolute 속성값 위치 기준 */
}

.box{
    width: 130px; height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: yellow;
    
    position: absolute; /* 자리 차지 안 함. 다 겸침. */
}

.box1{
    left: 438px; top: 50px; /* 왼쪽으로부터 448px. 위로부터 50px.*/
}
.box2{
    left: 200px ; top: 160px;
}
.box3{
    left: 676px; top: 160px;
}
.box4{
    left: 200px; top: 350px;
}
.box5{
    left: 676px; top: 350px;
}
.box6{
    left: 438px; top: 460px;
}

