*{padding: 0px; margin: 0px;}
a{text-decoration: none; color: blue;}
li{list-style-type: none;}
body{ background-color: #eeeeee;}

/* 1. 검은 동그라미 메뉴 */
#menu{ }
#menu > h1{
    background-color: black; color: white;
    width: 50px; height: 50px;
    display: flex; justify-content: center;
    border-radius: 25px; box-shadow: 2px 2px 10px gray;

    position: fixed;
    bottom: 10px; right: 10px;
}

.submenu > li{
    width: 40px; height: 40px;
    display: block; 
    border-radius: 25px; box-shadow: 2px 2px 10px gray;
    font-size: 10px; font-weight: bold;
    text-align: center; align-content: center;
    position: absolute;
}
.submenu > li:nth-of-type(1){background-color: #f3e9ff; bottom: 70px; right: 15px;}
.submenu > li:nth-of-type(2){background-color: #fff2e9; bottom: 120px; right: 15px;}
.submenu > li:nth-of-type(3){background-color: #e9fff0; bottom: 170px; right: 15px;}
.submenu > li:nth-of-type(4){background-color: #e7f0ff; bottom: 220px; right: 15px;}

#menu:hover .submenu > li{display: block;}