body{display: flex; flex-wrap: wrap;}

.imgBox{
    width: 100px; height: 100px;
    border: solid 1px red;
    margin-bottom: 20px; margin-right: 10px;
}


/* [1] 만일 사진의 크기가 부모요소 크기보다 커지면 사이즈 설정해야 함. */
.imgBox > img{width: 100%; height: 100px;}

/* [2] object-fit (쇼핑몰 한정된 사진 칸에 사진 안 깨지고 넣을 때 사용 가능할 듯) */
/* fill: (기본값) 영역을 채운다. 그러나 비율 유지 안 함. 무시함. */
.img1{ object-fit: fill;} /* img의 height가 설정될 때 비율 유지 안 한다는 뜻. */

/* contain: 전체 영역이 보이도록 비율 유지. 그러나 일부 잘림 존재할 수 있다. */
.img2{ object-fit: contain ;} /* 아이콘 배치할 때 사용. */

/* cover: 영역 채우면서 비율 유지. 그러나 일부 잘림 존재할 수 있음. */
.img3{ object-fit: cover;} /* 제일 나음 */

/* none: 이미지 사이즈 조정 없이 그대로 출력. 그러나 일부 잘림/여백 존재할 수 있음. */
.img4{ object-fit: none; }

/* [3] object-position: 잘린 이미지 위치 조정 가능. */
.img5{ object-fit: cover; object-position: left;} /* left: 왼쪽으로 이동. 왼쪽이 안 잘린다는 뜻. */
.img5{ object-fit: cover; object-position: right;} /* right: 오른쪽으로 이동. */
.img7{ object-fit: cover ; object-position: top;} 
