/* 전체 */
.Footer{
    background-color: #ffffff;
    justify-content: center;
    text-align: left;
    margin: 0px 40px;
    padding-top: 20px;
}


/* 언어 선택 */
.language{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    color: #8a8d91;
    font-weight: bold;
}

.language > a{
    padding-left: 8px;
    text-decoration: none;
    color: #8a8d91;
    font-weight: 500;
    align-content: center;
}

.language > button{
    padding: 0px 8px;
    margin: 2px 10px;
    font-size: 10px;
}

.language > button > a{
    text-decoration: none;
}


/* 회색 선 */
.centerline{
    border-bottom: solid 1px #dddfe2;
    height: 8px;
    margin-bottom: 8px;
}


/* 기타 메뉴 */
.etcMenu{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
}

.etcMenu > a{
    text-decoration: none;
    padding-left: 2px;
    padding-right: 10px;
    color: #8a8d91;
}

.etcMenu > a > img{
    width: 10px;
}


/* Meta 로고 */
.logo{
    margin: 20px 0px;
    font-size: 10px;
    font-weight: 570;
    color: #8a8d91;
}